<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>COJI</title>

    <link rel="icon" href="/static/fabicon.png" type="image/x-icon">
        <!-- Bootstrap CSS를 사용하기 위한 CDN 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/index.css">
    <style>
        .navbar {
    background: linear-gradient(to right, #fff, lightgray);
    padding:10px;
    color: #fff;
}


.nav-item {
            display: inline-block;
            padding: 8px 15px;
            color: #fff;
}


.nav-item:hover {
            background-color: rgba(255, 255, 255, 0.2);
}
    </style>
</head>

<body style = "background-color:lightgray;">
    <!-- 상단 메뉴바 -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff; ">
        <div class="container">
            <!-- 로고 이미지 칸 -->
            <a class="navbar-brand" href="/coji">
                <img src="/static/logo_w.svg" alt="로고 이미지" height="30" >
            </a>

            <!-- 메뉴 버튼들 -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/support" style="color:#3079AE">프로젝트 소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/social_venture" style="color:#3079AE">소셜 벤처</a>
                <li class="nav-item">
                    <a class="nav-link" href="/team" style="color:#3079AE">팀 소개</a>
                </li>
            </ul>
        </div>
    </nav><br>


    <header>
        <div class="container">
            <img src="/static/banner.png" alt="배너 이미지" height="100" style="width: 100%; object-fit: cover; padding:0px;">
        </div>
    </header><br>



    <div class="container text-left" style="background-color:#D4E9F9; color:#3079AE; ">
            <br><br>
            <h2 style="text-align: left; color:#3079AE;"> | 임팩트 카드 뉴스
            </h2><br>
            <h4> 소셜 벤처들의 가치와 임팩트를 누구나 알 수 있도록 알립니다. </h4> <br><br>

            <div class="row my-3 " style = "background-color:;">
                <div class="col-md-6">
                    <img src="/static/scv1.jpg" alt="Image" style="width: 100%; max-height: 300px; object-fit: cover; ">
                </div>
                <!-- 오른쪽에 텍스트 -->
                <div class="col-md-6">
                    <p>
                        이번 달 카드 뉴스 확인하기

                    </p>
                </div>
            </div>

        <p> 임팩트와 가치를 한 눈에 보기 쉽게 정리했습니다. </p><br>
        <a href = "https://instagram.com/lookie_kaist_cnu">링크 : 인스타그램 </a><br><br>

        <div class="row">
            <!-- 이미지 1 -->
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='image1.jpg') }}" alt="Image 1" class="img-fluid">
                <p>이미지 설명 1</p>
            </div>
            <!-- 이미지 2 -->
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='image2.jpg') }}" alt="Image 2" class="img-fluid">
                <p>이미지 설명 2</p>
            </div>
            <!-- 이미지 3 -->
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='image3.jpg') }}" alt="Image 3" class="img-fluid">
                <p>이미지 설명 3</p>
            </div>
            <!-- 추가적인 이미지 컬럼을 이곳에 추가할 수 있습니다. -->
        </div>


    </div><br>



    <footer class="footer bg-lightgray mt-3" style="background-color:lightgray;">
        <div class="container text-center" style="color:gray;">
            <p>&copy; 2023 COJI for social impact. All rights reserved.<br>
                contact to instagram : @lookie_kaist_cnu <br>

            </p>

        </div>
    </footer>

    <!-- Bootstrap JS와 jQuery를 사용하기 위한 CDN 링크 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>